[Unit]
Description=K-Patrol MQTT Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=khoavd
WorkingDirectory=/home/khoavd/robots/pi-controller
ExecStart=/usr/bin/python3 /home/khoavd/robots/pi-controller/kpatrol_mqtt.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
